<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>My hotel</strong> crafted by <a href="https://www.linkedin.com/in/alin-marius-manea-marioara-153b02116/">Alin Manea</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
      <p><a routerLink="/terms-conditions">Dummy Terms and conditions</a></p>
      <p>
        <a href="https://www.flaticon.com/free-icons/luxury" title="luxury icons">Logo icon created by Icongeek26 - Flaticon</a>
      </p>
     <p>
        <a href="https://bulma.io">
            <img src="https://bulma.io/images/made-with-bulma--black.png" alt="Made with Bulma" width="163" height="31"/>
        </a>
      </p>
      <p class="buttons is-justify-content-center">
        <a class="button" href="https://github.com/TechtopiaDevioWorks/collabera-hotel-task" target="_blank" rel="noopener noreferrer">
          <span class="icon">
            <i class="fa-brands fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
        <a class="button" href="https://www.linkedin.com/company/techtopia-devio-works/" target="_blank" rel="noopener noreferrer">
          <span class="icon">
            <i class="fa-brands fa-linkedin"></i>
          </span>
          <span>Linkedin</span>
        </a>
        <a class="button " href="https://www.instagram.com/techtopiadevio/" target="_blank" rel="noopener noreferrer">
            <span class="icon">
              <i class="fa-brands fa-instagram"></i>
            </span>
            <span>Instagram</span>
        </a>
      </p>
    </div>
</footer>