<app-layout>
	<div class="container is-fluid is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-around">
		<app-discover-more-container
			heading="Middle east"
			imgUrl="https://i.ibb.co/xHNwfmm/pexels-sergey-pesterev-8357638.jpg"
			buttonRoute="/hotels/middle-east"
			description="The Middle East is a region of rich culture and history, with stunning desert landscapes, beaches, and vibrant cities. Our hotel company offers three prime locations to experience this unique region."></app-discover-more-container>
		<app-discover-more-container
			heading="Europe"
			textLocation="left"
			imgUrl="https://i.ibb.co/RgP280c/pexels-magda-ehlers-12823414-1.jpg"
			textColor="navajowhite"
			buttonRoute="/hotels/europe"
			description="Europe is a fascinating and diverse continent with rich cultural, historical, and natural attractions. Our hotel company offers two prime locations to explore this beautiful region."></app-discover-more-container>
		<app-discover-more-container
			heading="Exotic"
			imgUrl="https://i.ibb.co/XCX06RH/pexels-maria-isabella-bernotti-1049298.jpg"
			textColor="sandybrown"
			buttonRoute="/hotels/exotic"
			description="Exotic resorts offer a one-of-a-kind escape for travelers seeking relaxation and adventure in beautiful tropical surroundings. Our hotel company is proud to offer exceptional properties in some of the most sought-after locations, providing a luxurious and unforgettable experience for all guests."></app-discover-more-container>
	</div>
</app-layout>
