.discover-more-container {
	position: relative;
	padding: 0;
	position: relative;
    width: 100vw;
    min-height:calc(100vw / 16 * 9);
	.gradient-container-top {
		background: linear-gradient(180deg, #fff, transparent 84%);
		position: absolute;
		top: 0;
		height: 30%;
		width: 100%;
	}
	.gradient-container-bottom {
        background: linear-gradient(180deg,#fff,transparent 84%);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
		position: absolute;
		bottom: 0;
		height: 30%;
		width: 100%;
	}
	img {
		height: 100%;
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
    .information-container {
		padding: 5%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(0, -50%);
		right: 0;
		width: 50%;
		height: 50%;
        -webkit-text-stroke: 0.05vw black;
        .information-overtitle {
            font-size:1.8vw;
            line-height: 2vw;
            font-weight: 500;
        }
		.information-title {
			font-size: 5vw;
            font-weight: 500;
            line-height: 4vw;
            margin-left: -1vw;
		}
		.information-subtitle {
			font-size: 2vw;
            line-height: 1.5vw;
            font-weight: 500;
		}
        .information-description {
            font-size:1.2vw;
            line-height: 1.5vw;
            font-weight: 500;
        }
        .information-button {
            background-color: rgba(255,255,255,0.75);
            border-color: transparent;
            color: rgba(0, 0, 0, 0.7);
            font-size: 1.5vw;
        }
        .information-button:hover {
            background-color: rgba(255,255,255,0.95);
        }

	}
    .information-container-left {
        left: 0;
		transform: translate(0, -50%);
		right: 50%;
    }
}

@media screen and (max-width: 1023px) {
    .information-container {
        padding: 5%;
		position: absolute;
		top: 5%;
		left: 0;
		right: 0 ;
		width: 75% ;
		height: 75% ;
        margin:auto;
        -webkit-text-stroke: 0.1vw black;
        .information-overtitle {
            font-size:2.8vw;
            line-height: 3vw;
            font-weight: 500;
        }
		.information-title {
			font-size: 8vw;
            font-weight: 500;
            line-height: 7vw;
            margin-left: -1vw;
		}
		.information-subtitle {
			font-size: 4vw;
            line-height: 3.5vw;
            font-weight: 500;
		}
        .information-description {
            font-size:3vw;
            line-height: 3.5vw;
            font-weight: 500;
        }
        .information-button {
            background-color: rgba(255,255,255,0.75);
            border-color: transparent;
            color: rgba(0, 0, 0, 0.7);
            font-size: 1.5vw;
        }
        .information-button:hover {
            background-color: rgba(255,255,255,0.95);
        }

	}
}

