<app-layout
	><div class="container is-fluid is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-around">
		<app-discover-more-container
			textLocation="middle"
			heading="Our Team"
			imgUrl="https://i.ibb.co/3BRtpQ6/37926486546399.jpg"></app-discover-more-container>
		<app-discover-more-container
			heading="Ali bin Rashid"
			subheading="CEO"
			textColor="slategrey"
			textLocation="right"
			imgUrl="https://i.ibb.co/Vxw2SdG/pdp-MDSA-tcm41-149156.jpg"
			description="Ali bin Rashid is the CEO of My Hotel, a leading hotel group in the Middle East. Born and raised in Dubai, Ali has always been passionate about the hospitality industry and is known for his keen business acumen and innovative thinking.

        With years of experience in the hospitality sector, Ali has helped My Hotel grow from a small chain of hotels to a major player in the industry, with properties in Dubai, Abu Dhabi, Doha, and other key destinations throughout the region. Under his leadership, My Hotel has become renowned for its exceptional service, luxurious accommodations, and world-class amenities.
        
        Ali is a hands-on CEO who believes in leading by example, and he is often found on the front lines of the business, working closely with his team to ensure that every aspect of the guest experience is flawless. He is also a strong believer in giving back to the community, and My Hotel is known for its commitment to sustainability and social responsibility initiatives.
        
        Despite his busy schedule, Ali always finds time for his family and enjoys spending time with his wife and children. When he's not working, he can often be found exploring the latest trends in the industry, traveling to new destinations, or simply relaxing at home with a good book."></app-discover-more-container>
	</div>
</app-layout>
