<nav class="navbar app-header" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <app-header-logo></app-header-logo>
        <app-header-mobile-burger [(mobileState)]="mobileNavigationState"></app-header-mobile-burger>
    </div>
	<div id="navbarBasicExample" class="navbar-menu" [class.is-active]="mobileNavigationState">
		<div class="navbar-start">
			<ng-container *ngFor="let page of pageArray">
				<app-header-page-button [headerButton]="page" [primaryButton]="true"></app-header-page-button>
			</ng-container>
		</div>
		<div class="navbar-end">
			<app-header-no-user *ngIf="!isUserLoggedIn"></app-header-no-user>
			<app-header-user *ngIf="isUserLoggedIn"></app-header-user>
		</div>
	</div>
</nav>
