<app-layout>
    <div class="container is-fluid is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-space-around">

    <ng-container *ngFor="let item of currentStayData?.info;let odd=odd">
        <app-discover-more-container
            [textLocation]="odd ? 'left': 'right'"
            [overheading]="item.overheading"
            [imgUrl]="item.imgUrl"
            [heading]="item.heading"
            [description]="item.description"></app-discover-more-container>
    </ng-container>
    </div>
</app-layout>